.header{
    width: 100%;
    height: 60px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}
.search_box, .help_shop_log{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 5;
    height: 100%;
}
.search_logo_icon{
    text-align: center;
    font-size: 50px;
}
.search_input{
    border: none;
    padding-left: 10px;
    border-radius: 8px;
    background-color: rgba(255,255,255,.5);
    height: 70%;
    width: 90%;
}
.search_input:focus{
    outline: none;
    box-shadow: none;
}

.help_shop_log{
    display: flex;
    align-items: center;
    justify-content: center;
}
.help_shop_log div{
    flex-grow: 6;
}
.icon{
    flex-grow: 2;
    font-size: 50px;
}
.search_box{
    background-color: dimgray;
}
.home_page{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding-bottom: 10px;
}
.home_log{
    flex-grow: 7;
}
.vehicles_content{
    flex-grow: 2;
}
.home_log{
    background-color: rgba(40,210,255, .7);
}
.title{
    flex-grow: 0;
    background-color: rgba(70,250,255, .4);
    color: white;
}
.vehicles_content{
    display: flex;
    gap: 10px;
}
.vehicle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.vehicle .title2{
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 40px;
}
.vehicle .img{
    flex-grow: 1;
    width: 100%;
    height: 160px;
    background-color: slategray;
}
.vehicle img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.title2{
    height: 100%;
    background-color: dimgray;
    color: white;
}